<div class="container" *ngIf="currentBook">
  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <ul class="list-group aln">
        <h1 id="info">Book INFORMATION</h1>
        <li class="list-group-item list-group-item-primary">
          Name: {{currentBook.name}}
        </li>
        <li class="list-group-item list-group-item-secondary"> ISBN: {{currentBook.isbn}} </li>
        <li class="list-group-item list-group-item-success">No. of Pages: {{currentBook.numberOfPages}}
        </li>
        <li class="list-group-item list-group-item-danger">
          Publisher: {{currentBook.publisher}}
        </li>
        <li class="list-group-item list-group-item-warning">
          Released : {{currentBook.released | date}}
        </li>
        <li class="list-group-item list-group-item-dark">
          Country: {{currentBook.country}}
        </li>
      </ul>
      <a class="btn btn-warning btninfo" (click)="goBackToPreviousPage()">Go Back </a>
    </div>
  </div>
</div>