<div class="container" *ngIf="currentHouse">
  <div class="row">
    <div class="col-xs-6 col-lg-12">
      <ul class="list-group aln">
        <h1 id="info">HOUSE INFORMATION</h1>
        <li class="list-group-item list-group-item-primary">
          Name: {{currentHouse.name | uppercase }}
        </li>
        <li class="list-group-item list-group-item-secondary"> Region: {{currentHouse.region }} </li>
        <li class="list-group-item list-group-item-success"> CoatOfArms: {{currentHouse.coatOfArms }}
        </li>
        <li class="list-group-item list-group-item-danger">
          Words: {{currentHouse.words?words:'Not Available' }}
        </li>
        <li class="list-group-item list-group-item-warning">
          <p *ngIf="currentHouse.titles.length>0" class="book">Titles:
            <span *ngFor="let title of currentHouse.titles;let first=first;let last=last">{{title?title:'Not Available'}}{{last ? '' : ', '}}</span>
          </p>
        </li>
        <li class="list-group-item list-group-item-dark">
          <p *ngIf="currentHouse.seats.length>0" class="book">Seats:
            <span *ngFor="let seat of currentHouse.seats;let first=first;let last=last">{{seat?seat:'Not Available'}}{{last ? '' : ', '}}</span>
          </p>
        </li>
      </ul>
      <a class="btn btn-warning btninfo" (click)="goBackToPreviousPage()">Go Back </a>
    </div>
  </div>
</div>